*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
body{
    width: 100%;
    height: 100vh;
    background: black;
    overflow: hidden;
    position: relative;
}
body p{
    transform: translateY(-2000px);
    position: absolute;
    color: green;
    writing-mode: vertical-lr;
}